.callingContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 2; 
    font-family: lato;
    height: max-content;
    border: 1px solid #3F51B5;
    border-top: 0px;
    box-shadow: 0px 4px 11px rgba(63, 81, 181, 0.25);
    padding-bottom: 50px;
}

.callingHeader-text {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: 620;
    font-size: 32px;
}

.callingFilter {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.callingFilter-heading {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: #3F51B5;
    font-size: 20px;
    font-weight: 550;
    background: #E5EFFF;
    border-bottom: 1px solid #3F51B5;
    border-top: 0px;
    box-shadow: 0px 4px 11px rgba(63, 81, 181, 0.25);
}

.callingFilter-wrapper {
    display: flex;
    flex-direction: column;
    margin: 15px;
    gap: 20px;
}

.filter {
    display: flex;
    flex-direction: column;
    width: 214px;
    height: max-content;
    gap: 10px;
    border: 1px solid #3F51B5;
    border-radius: 5px;
    padding: 4px 0px 4px 4px;
}

.filter1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filterName {
    display: flex;
    gap: 5px;
    font-weight: bold;
    align-items: center;
    font-size: 15px;
}

.filterName1 {
    font-weight: bold;
    font-size: 15px;
    width: 50%;
    float: left;
}

.filterInput {
    display: flex;
    gap: 15px;
    padding: 5px;
}

.filterInput input {
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    height: 25px;
    width: 160px;
    font-family: lato;
    outline: none;
}

.filterInputIcon img {
    cursor: pointer;
}

.filterInputIcon {
    background-color: rgb(220, 217, 217);
}